$minDistance: 10px;
$lightBlue: #6adaff;
$white: #fff;

* {
	margin: 0;
	padding: 0;
}
.second-step,
.third-step {
	display: none;
}
.form-group {
	padding: $minDistance 0;
}
.input-group {
	width: 100%;
	padding: 0 25px;
	margin-bottom: $minDistance;
	box-sizing: border-box;
	height: 37px;
	&__radio-buttons {
		display: flex;
		flex-direction: column;
		height: auto;
		div:last-child {
			margin-top: 10px;
		}
		input,
		label {
			cursor: pointer;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		width: -webkit-fill-available;
		height: -webkit-fill-available;
		padding: 0 $minDistance;
		border: 1px solid #adadad;
		border-radius: 5px;
		&:focus {
			outline-color: $lightBlue;
		}
	}
	button {
		background-color: $lightBlue;
		border: none;
		border-radius: 5px;
		outline: none;
		padding: 12px 25px;
		color: $white;
		cursor: pointer;
	}
	select {
		width: -webkit-fill-available;
		height: -webkit-fill-available;
		padding: 0 $minDistance;
		border: 1px solid #adadad;
		border-radius: 5px;
		background: $white;
		&:focus {
			outline-color: $lightBlue;
		}
	}
	&__card-number {
		position: relative;
		img {
			position: absolute;
			top: 0;
			right: 35px;
			width: 35px;
			height: 35px;
		}
	}
}
.error {
	color: #ff0000;
	font-style: italic;
	font-size: 13px;
	padding-left: 15px;
}
.registration {
	background-color: #e2e2e2;
	width: 35%;
	margin: 0 auto;
	margin-top: 150px;
	border-radius: 5px;
	&__headings {
		padding: $minDistance 25px;
		background: #eee;
	}
	&__checkbox {
		height: 20px;
	}
	&__error-place {
		height: 55px;
		input {
			height: 37px !important;
		}
	}
	&__successful {
		display: none;
		background: #f7f7f7;
		img {
			width: 100%;
			height: auto;
		}
		p {
			font-size: 32px;
			text-align: center;
			padding-bottom: 25px;
		}
	}
}
